

input[type="text"]{
  height:25px;
  width: 230px;
}

#top{
  width: 100%;
  height: 200px;
  position: fixed;
  background-color: #fff;
}

.menu{
  width: 100%;
  height: 30px;
  text-align: left;
  background-color: #0053a0;
}

ul li{
  display: inline-block;
  list-style-type: none;
  padding-top: 2px;
  list-style: none;
}

li a{
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}

li:nth-last-child(-n+2){
  padding-left: 30px;
}


li a:hover, li a:visited{
  cursor: pointer;
  color: #fff;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

#content{
  background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6CD5EF 100%);
  background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6CD5EF 100%);
  background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6CD5EF 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #FFFFFF), color-stop(1, #6CD5EF));
  background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #6CD5EF 100%);
  background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #6CD5EF 100%);

  width: 100%;
  height: 830px;
}

.thumb{
  width: 220px;
  margin: 10px 0px 10px 0px;
  float: left;
  position: relative;
}
