

input[type="text"]{
  height:25px;
  width: 230px;
}

#top{
  width: 100%;
  height: 200px;
  position: fixed;
  background-color: #fff;
}

.menu{
  width: 100%;
  height: 30px;
  text-align: left;
  background-color: #0053a0;
}

ul li{
  display: inline-block;
  list-style-type: none;
  padding-top: 2px;
  list-style: none;
}

li a{
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}

li:nth-last-child(-n+2){
  padding-left: 30px;
}


li a:hover, li a:visited{
  cursor: pointer;
  color: #fff;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
}

#content{
  background-image: url(../images/Background.jpg);
  background-size: cover;
  width: 100%;
}

.first{
  margin-top: 30px;
}

.first-two{
  margin-top: 15px;
}

.thumb1{
  height:50px;
}

.thumb2{
  height:70px;
}

.thumb2-1{
  height:76.5px;
}

.thumb3{
  height:150px;
}

.thumb4{
  height:156.5px;
}


.floatrelative{
  float: left;
  position: relative;
}

.left0{ margin-left: 5.5%;}

.left1{ margin-left: 8.5%;}

.left12{ margin-left: 20.5%;}

.left2{ margin-left: 50%; }

.left3{ margin-left: 80%; }

.right1{ margin-right: 8.5%; }

.right2{ margin-right: 50%; }

.right3{ margin-right: 80%; }

.top0{ margin-top: 4.5%;}

.top01{ margin-top: 6.9%;}

.top1{ margin-top: 10%; }

.top2{ margin-top: 50%; }

.top3{ margin-top: 80%; }

.bottom1{ margin-bottom: 10%; }

.bottom2{ margin-bottom: 50%; }

.bottom3{ margin-bottom: 80%; }
