<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Poliedro Aprova</title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/foundation.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <script src="/assets/js/libs/jquery/jquery.js"></script>
        <script src="/assets/js/libs/angular/angular.js"></script>
        <script src="/assets/js/controller.js"></script>
                            <script>
                  $(function() {
                    $( ".columns" ).sortable({
                        start: function (event, ui) {
                            ui.item.toggleClass("thumb3 twelve floatrelative top1 left 1");
                        },
                        stop: function (event, ui) {
                             ui.item.toggleClass("thumb3 twelve floatrelative top1 left 1");
                        }
                    });
                    $("#coluna1").disableSelection();
                  });
                  </script>
    </head>
    <body>
        <div class="row" ng-controller="load">
            <div class="twelve columns" style="text-align:left;" ng-app="app">
                <div class="columns twomiddle">
                    <div class="thumb3 twelve floatrelative top1" style="background:#01703B;">
                        <div id="block0" class="block0">
                            <p contenteditable="true" ng-model="result.block0.number">{{result.block0.number}}</p>
                            <p contenteditable="true" ng-model="result.block0.escola">{{result.block0.escola}}</p>
                            <p contenteditable="true" ng-model="result.block0.curso">{{result.block0.curso}}</p>
                            <p contenteditable="true" ng-model="result.block0.ano">{{result.block0.ano}}</p>
                        </div>

                    </div>
                    <div class="thumb2 fivemidlle floatrelative top1" style="background:#01703B;">
                        <div id="block1" class="block1">
                            <p contenteditable="true" ng-model="result.block1.number">{{result.block1.number}}</p>
                            <p contenteditable="true" ng-model="result.block1.escola">{{result.block1.escola}}</p>
                            <p contenteditable="true" ng-model="result.block1.curso">{{result.block1.curso}}</p>
                            <p contenteditable="true" ng-model="result.block1.ano">{{result.block1.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fivemidlle floatrelative top1 left1" style="background:#01703B;">
                        <div id="block2" class="block1">
                            <p contenteditable="true" ng-model="result.block2.number">{{result.block2.number}}</p>
                            <p contenteditable="true" ng-model="result.block2.escola">{{result.block2.escola}}</p>
                            <p contenteditable="true" ng-model="result.block2.curso">{{result.block2.curso}}</p>
                            <p contenteditable="true" ng-model="result.block2.ano">{{result.block2.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fivemidlle floatrelative top1" style="background:#01703B;">
                        <div id="block3" class="block1">
                            <p contenteditable="true" ng-model="result.block3.number">{{result.block3.number}}</p>
                            <p contenteditable="true" ng-model="result.block3.escola">{{result.block3.escola}}</p>
                            <p contenteditable="true" ng-model="result.block3.curso">{{result.block3.curso}}</p>
                            <p contenteditable="true" ng-model="result.block3.ano">{{result.block3.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fivemidlle floatrelative top1 left1" style="background:#01703B;">
                        <div id="block4" class="block1">
                            <p contenteditable="true" ng-model="result.block4.number">{{result.block4.number}}</p>
                            <p contenteditable="true" ng-model="result.block4.escola">{{result.block4.escola}}</p>
                            <p contenteditable="true" ng-model="result.block4.curso">{{result.block4.curso}}</p>
                            <p contenteditable="true" ng-model="result.block4.ano">{{result.block4.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb3 twelve floatrelative top1" style="background:#128ECC;">
                        <div id="block5" class="block0">
                            <p contenteditable="true" ng-model="result.block5.number">{{result.block5.number}}</p>
                            <p contenteditable="true" ng-model="result.block5.escola">{{result.block5.escola}}</p>
                            <p contenteditable="true" ng-model="result.block5.curso">{{result.block5.curso}}</p>
                            <p contenteditable="true" ng-model="result.block5.ano">{{result.block5.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb3 floatrelative top1" style="background:#F19018; width: 258%">
                        <div id="block5" class="block0">
                            <p contenteditable="true" ng-model="result.block6.number">{{result.block6.number}}</p>
                            <p contenteditable="true" ng-model="result.block6.escola">{{result.block6.escola}}</p>
                            <p contenteditable="true" ng-model="result.block6.curso">{{result.block6.curso}}</p>
                            <p contenteditable="true" ng-model="result.block6.ano">{{result.block6.ano}}</p>
                        </div>
                    </div>
                </div>
                <div class="columns threemiddle">
                    <div class="thumb3 twelve floatrelative top01" style="background: url(/assets/images/Guilherme.jpg); background-size: cover;">
                        <div id="block6" class="block2">
                            <h4 contenteditable="true" ng-model="result.block7.nome">{{result.block7.nome}}</h4>
                            <nav>
                                <ul>
                                    <li contenteditable="true" ng-model="result.block7.list1">{{result.block7.list1}}</li>
                                    <li contenteditable="true" ng-model="result.block7.list2">{{result.block7.list2}}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="thumb3 sixmmiddle floatrelative top01" style="background:#AD1917;">
                        <div id="block0" class="block3">
                            <p contenteditable="true" ng-model="result.block8.number">{{result.block8.number}}</p>
                            <p contenteditable="true" ng-model="result.block8.escola">{{result.block8.escola}}</p>
                            <p contenteditable="true" ng-model="result.block8.curso">{{result.block8.curso}}</p>
                            <p contenteditable="true" ng-model="result.block8.ano">{{result.block8.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 four floatrelative top01 left1" style="background:#AD1917;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block9.number">{{result.block9.number}}</p>
                            <p contenteditable="true" ng-model="result.block9.escola">{{result.block9.escola}}</p>
                            <p contenteditable="true" ng-model="result.block9.curso">{{result.block9.curso}}</p>
                            <p contenteditable="true" ng-model="result.block9.ano">{{result.block9.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 four floatrelative top0 left1" style="background:#AD1917;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block10.number">{{result.block10.number}}</p>
                            <p contenteditable="true" ng-model="result.block10.escola">{{result.block10.escola}}</p>
                            <p contenteditable="true" ng-model="result.block10.curso">{{result.block10.curso}}</p>
                            <p contenteditable="true" ng-model="result.block10.ano">{{result.block10.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb3 twelve floatrelative top1">
                        <iframe contenteditable="true" ng-model="result.block11.url" width="100%" height="143" src="//www.youtube.com/embed/f1qCXynE9I0?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="columns threemiddle">
                    <div class="thumb2 fourmine floatrelative top01" style="background:#01703B;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block12.number">{{result.block12.number}}</p>
                            <p contenteditable="true" ng-model="result.block12.escola">{{result.block12.escola}}</p>
                            <p contenteditable="true" ng-model="result.block12.curso">{{result.block12.curso}}</p>
                            <p contenteditable="true" ng-model="result.block12.ano">{{result.block12.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fourmine floatrelative left0 top01" style="background:#AD1917;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block13.number">{{result.block13.number}}</p>
                            <p contenteditable="true" ng-model="result.block13.escola">{{result.block13.escola}}</p>
                            <p contenteditable="true" ng-model="result.block13.curso">{{result.block13.curso}}</p>
                            <p contenteditable="true" ng-model="result.block13.ano">{{result.block13.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fourmine floatrelative left0 top01" style="background:#AD1917;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block14.number">{{result.block14.number}}</p>
                            <p contenteditable="true" ng-model="result.block14.escola">{{result.block14.escola}}</p>
                            <p contenteditable="true" ng-model="result.block14.curso">{{result.block14.curso}}</p>
                            <p contenteditable="true" ng-model="result.block14.ano">{{result.block14.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb4 sevenmiddle floatrelative top0 top01" style="background:#C4D30A;">
                        <div id="block0" class="block3">
                            <p contenteditable="true" ng-model="result.block15.texto">{{result.block15.texto}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fourmine floatrelative top0 left0" style="background:#128ECC;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block16.number">{{result.block16.number}}</p>
                            <p contenteditable="true" ng-model="result.block16.escola">{{result.block16.escola}}</p>
                            <p contenteditable="true" ng-model="result.block16.curso">{{result.block16.curso}}</p>
                            <p contenteditable="true" ng-model="result.block16.ano">{{result.block16.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2-1 fourmine floatrelative top0 left0" style="background:#F19018;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block17.number">{{result.block17.number}}</p>
                            <p contenteditable="true" ng-model="result.block17.escola">{{result.block17.escola}}</p>
                            <p contenteditable="true" ng-model="result.block17.curso">{{result.block17.curso}}</p>
                            <p contenteditable="true" ng-model="result.block17.ano">{{result.block17.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb3 twelve floatrelative top0" style="background: url(/assets/images/Maira.jpg); background-size: cover;">
                        <div id="block6" class="block2">
                            <h4 contenteditable="true" ng-model="result.block18.nome">{{result.block18.nome}}</h4>
                            <nav>
                                <ul>
                                    <li contenteditable="true" ng-model="result.block18.list1">{{result.block18.list1}}</li>
                                    <li contenteditable="true" ng-model="result.block18.list2">{{result.block18.list2}}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="thumb2 fourmine floatrelative top0" style="background:#01703B;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block19.number">{{result.block19.number}}</p>
                            <p contenteditable="true" ng-model="result.block19.escola">{{result.block19.escola}}</p>
                            <p contenteditable="true" ng-model="result.block19.curso">{{result.block19.curso}}</p>
                            <p contenteditable="true" ng-model="result.block19.ano">{{result.block19.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fourmine floatrelative left0 top0" style="background:#128ECC;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block20.number">{{result.block20.number}}</p>
                            <p contenteditable="true" ng-model="result.block20.escola">{{result.block20.escola}}</p>
                            <p contenteditable="true" ng-model="result.block20.curso">{{result.block20.curso}}</p>
                            <p contenteditable="true" ng-model="result.block20.ano">{{result.block20.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 fourmine floatrelative left0 top0" style="background:#128ECC;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block21.number">{{result.block21.number}}</p>
                            <p contenteditable="true" ng-model="result.block21.escola">{{result.block21.escola}}</p>
                            <p contenteditable="true" ng-model="result.block21.curso">{{result.block21.curso}}</p>
                            <p contenteditable="true" ng-model="result.block21.ano">{{result.block21.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb3 sixmmiddle floatrelative top1" style="background:#AD1917;">
                        <div id="block0" class="block3">
                            <p contenteditable="true" ng-model="result.block22.number">{{result.block22.number}}</p>
                            <p contenteditable="true" ng-model="result.block22.escola">{{result.block22.escola}}</p>
                            <p contenteditable="true" ng-model="result.block22.curso">{{result.block22.curso}}</p>
                            <p contenteditable="true" ng-model="result.block22.ano">{{result.block22.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 four floatrelative top1 left1" style="background:#AD1917;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block23.number">{{result.block23.number}}</p>
                            <p contenteditable="true" ng-model="result.block23.escola">{{result.block23.escola}}</p>
                            <p contenteditable="true" ng-model="result.block23.curso">{{result.block23.curso}}</p>
                            <p contenteditable="true" ng-model="result.block23.ano">{{result.block23.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 four floatrelative top0 left1" style="background:#AD1917;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block24.number">{{result.block24.number}}</p>
                            <p contenteditable="true" ng-model="result.block24.escola">{{result.block24.escola}}</p>
                            <p contenteditable="true" ng-model="result.block24.curso">{{result.block24.curso}}</p>
                            <p contenteditable="true" ng-model="result.block24.ano">{{result.block24.ano}}</p>
                        </div>
                    </div>
                </div>
                <div class="columns threemiddle">
                    <div class="thumb3 twelve floatrelative top01" style="background: url(/assets/images/Rodrigo.jpg); background-size: cover;">
                        <div id="block6" class="block2">
                            <h4 contenteditable="true" ng-model="result.block25.nome">{{result.block25.nome}}</h4>
                            <nav>
                                <ul>
                                    <li contenteditable="true" ng-model="result.block25.list1">{{result.block25.list1}}</li>
                                    <li contenteditable="true" ng-model="result.block25.list2">{{result.block25.list2}}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="thumb2 twelve floatrelative top0" style="background:#C4D30A;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block26.titulo">{{result.block26.titulo}}</p>
                            <p contenteditable="true" ng-model="result.block26.texto">{{result.block26.texto}}</p>
                        </div>
                    </div>
                    <div class="thumb3 fivemidlle2 floatrelative top0" style="background:#AD1917;">
                        <div id="block0" class="block3">
                            <p contenteditable="true" ng-model="result.block27.number">{{result.block27.number}}</p>
                            <p contenteditable="true" ng-model="result.block27.escola">{{result.block27.escola}}</p>
                            <p contenteditable="true" ng-model="result.block27.curso">{{result.block27.curso}}</p>
                            <p contenteditable="true" ng-model="result.block27.ano">{{result.block27.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb3 fivemidlle2 floatrelative top0 left0" style="background:#AD1917;">
                        <div id="block0" class="block3">
                            <p contenteditable="true" ng-model="result.block28.number">{{result.block28.number}}</p>
                            <p contenteditable="true" ng-model="result.block28.escola">{{result.block28.escola}}</p>
                            <p contenteditable="true" ng-model="result.block28.curso">{{result.block28.curso}}</p>
                            <p contenteditable="true" ng-model="result.block28.ano">{{result.block28.ano}}</p>
                        </div>
                    </div>
                    <div class="thumb2 twelve floatrelative top1" style="background:#F19018;">
                        <div id="block0" class="block1">
                            <p contenteditable="true" ng-model="result.block29.number">{{result.block29.number}}</p>
                            <p contenteditable="true" ng-model="result.block29.texto">{{result.block29.texto}}</p>
                            <p contenteditable="true" ng-model="result.block29.curso">{{result.block29.curso}}</p>
                        </div>
                    </div>
                    <div class="thumb3 twelve floatrelative top1">
                        <iframe contenteditable="true" width="100%" height="143" src="//www.youtube.com/embed/oqn10mlP5SM?controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
