<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Poliedro Aprova</title>
  <link rel="stylesheet" href="css/admin.css">
  <script src="js/libs/jquery-1.10.2.min.js"></script>
  <script src="js/libs/angular.js"></script>
  <script src="js/controller.js"></script>
</head>
<body>
    <div id="main" ng-app="poliedroApp" ng-controller="edit" ng-click="hideTooltip()">
	    <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">
		    <input type="text" ng-model="value" /> 
        </div>

	    <p ng-click="toggleTooltip($event)">{{value}}</p>
    </div>
</body>
</html>
